.top{
    text-align:center;
    display:flex;
    justify-content:space-between;
}

.mid{
    text-align:right
}

.middle{
    background-color:#999999;
    display:flex;
    justify-content:left;
    flex-wrap: wrap;
}

.bottom{
    background-color:#252525;
}

body{
    background-color:#f00;
}